.spinner {
    width: 32px;
    height: 32px;
    border: 3px solid #ccc;
    border-top-color: #555;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.CandidatePhotos {
    display: grid;
    gap: var(--gap);
    padding: var(--gap);

    list-style-type: none;
}

.CandidatePhoto {
    padding: var(--gap);

    border: 1px solid gray;

    img.preview {
        width: 10rem;
        height: 10rem;
    }

    ul.file-info {
        list-style-type: none;
    }


}
