:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --vh: 1vh;

    --gap-xs: calc(var(--gap) * 0.25);
    --gap-s: calc(var(--gap) * 0.5);
    --gap: 1rem;
    --gap-l: calc(var(--gap) * 1.5);
    --gap-xl: calc(var(--gap) * 2);

    --color-black-0: rgb(00, 00, 10);
    --color-black-1: rgb(10, 10, 20);
    --color-black-2: rgb(20, 20, 30);
    --color-black-3: rgb(30, 30, 40);
    --color-black-4: rgb(40, 40, 50);
    --color-black-5: rgb(50, 50, 60);

    --color-gray-0: rgb(80, 80, 90);
    --color-gray-1: rgb(90, 90, 100);
    --color-gray-2: rgb(100, 100, 110);
    --color-gray-3: rgb(110, 110, 120);
    --color-gray-4: rgb(120, 120, 130);
    --color-gray-5: rgb(130, 130, 140);

    --color-white-0: rgb(255, 255, 255);
    --color-white-1: rgb(255, 245, 245);
    --color-white-2: rgb(245, 235, 235);
    --color-white-3: rgb(235, 225, 225);
    --color-white-4: rgb(225, 215, 215);
    --color-white-5: rgb(215, 205, 205);

    --color-darkred-0: rgb(60, 30, 30);
    --color-darkred-1: rgb(80, 40, 40);
    --color-darkred-2: rgb(100, 40, 40);
    --color-darkred-3: rgb(120, 50, 50);
    --color-darkred-4: rgb(140, 50, 50);
    --color-darkred-5: rgb(160, 60, 60);

    --color-lightred-0: rgb(160, 170, 170);
    --color-lightred-1: rgb(180, 180, 180);
    --color-lightred-2: rgb(200, 180, 180);
    --color-lightred-3: rgb(220, 190, 190);
    --color-lightred-4: rgb(240, 190, 190);
    --color-lightred-5: rgb(255, 200, 200);

    --color-pink-0: rgb(90, 60, 60);
    --color-pink-1: rgb(100, 70, 70);
    --color-pink-2: rgb(110, 80, 80);
    --color-pink-3: rgb(120, 90, 90);
    --color-pink-4: rgb(130, 100, 100);

    --color-orange-0: rgb(80, 65, 45);
    --color-orange-1: rgb(90, 75, 55);
    --color-orange-2: rgb(110, 95, 75);
    --color-orange-3: rgb(120, 105, 85);
    --color-orange-4: rgb(130, 115, 95);

    --color-blue-0: rgb(55, 65, 90);
    --color-blue-1: rgb(65, 75, 100);
    --color-blue-2: rgb(75, 85, 110);
    --color-blue-3: rgb(85, 95, 120);
    --color-blue-4: rgb(95, 105, 130);

    --color-fg: var(--color-white-2);
    --color-bg: var(--color-black-2);

    color-scheme: light dark;
    color: var(--color-fg);
    background-color: var(--color-bg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

html,
body,
#root {
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
}

input,
button,
submit,
textarea,
select {
    box-sizing: border-box;

    border: none;
    border-radius: 4px;

    padding: var(--gap-s) var(--gap) var(--gap-s) var(--gap);

    background-color: var(--color-black-3);
    color: var(--color-white-3);

    font-family: inherit;
    font-size: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 100ms;

    &:hover {
        background-color: var(--color-black-4);
    }

    &:active {
        background-color: var(--color-black-5);
    }

    &:disabled {
        color: var(--color-gray-0);
    }
}

input[type="text"],
textarea {
    border: 1px solid var(--color-gray-0);
}

button.red,
submit.red {
    background-color: var(--color-darkred-0);
    color: var(--color-lightred-5);

    &:hover {
        background-color: var(--color-darkred-1);
    }

    &:active {
        background-color: var(--color-darkred-2);
    }
}

button.blue,
submit.blue,
input.blue {
    background-color: var(--color-blue-1);
    color: var(--color-white-3);

    &:hover {
        background-color: var(--color-blue-2);
    }

    &:active {
        background-color: var(--color-blue-3);
    }

    &:disabled {
        background-color: var(--color-blue-0);
        color: var(--color-gray-5);
    }
}
